@model IEnumerable<TimeTracker.DAL.UsersTask>

@{
    ViewBag.Title = "Current";
}
  
<h2>Current tasks for @User.Identity.Name</h2>
<br />

@(Html.Kendo().Grid(Model)
    .Name("CurrentTasks")
    .Columns(columns =>
    {
        columns.Bound(p => p.Task.Title);
        columns.Bound(p => p.StartDate).Title("Start date");
        columns.Bound(p => p.WorkedHours).Title("Worked hours");
        columns.Template((p) =>
        {
            switch (p.Task.StatusId)
            {
                case 1: return "New";
                case 2: return "Started";
                case 3: return "Finished";
                case 4: return "Canceled";
                default: return "No status";
            }
        }).Title("Status");
        columns.Template(o => Html.ActionLink("Fill working card", "FillWorkingCard", "WorkingCard", new { id = o.TaskId}, null));
        
    })
    .Sortable()
    .Pageable()
)   
