@model IEnumerable<TimeTracker.Models.WorkingCardModel>

@{
    ViewBag.Title = "ShowAll";
}

<h2>ShowAll</h2>

@(Html.Kendo().Grid(Model)
    .Name("ActiveUsers")
    .Columns(columns =>
    {
        columns.Bound(p => p.TaskTitle);
        columns.Bound(p => p.StartDate);
        columns.Bound(p => p.WorkingHours);
        columns.Bound(p => p.Description);
        columns.Template(o => Html.ActionLink("Edit", "Edit", "WorkingCard", new { id = o.wCardId }, null));
        columns.Template(o => Html.ActionLink("Details", "Details", "WorkingCard", new { id = o.wCardId }, null));
        
    })
    .Sortable()
    .Pageable()
)