@{
    ViewBag.Title = "Index";
}

<h2>Main administrator page. Will be updated soon!</h2>

<p>
    @Html.ActionLink("Register new user", "Register", "Account")
    <br />
    @Html.ActionLink("View all users", "Active", "Users")
</p>