@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                IWork is a time tracker application, which helps you track your working time.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Before you start your work</h5>
        Take some coffee or tea, concentrate and have fun.
    </li>

    <li class="two">
        <h5>After you finish your work</h5>
        Don't forget to fill your working cards.
    </li>
</ol>
